body {
  font-family: "Press Start 2P", serif;
  background: linear-gradient(to right, #ff00ff, #6699ff);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background-color: #C0C0C0;
  width: 800px;
  height: 400px;
  padding: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 0;
  text-align: left; /* Textos alinhados à esquerda */
  position: relative;
}

.card-black {
  background-color: black;
  width: 790px;
  height: 350px;
  margin: 0 auto;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px; /* Adiciona um espaçamento interno de 20px */
  box-sizing: border-box; /* Garante que o padding não aumente o tamanho total do container */
}

.h1 {
  color: #73D216;
  font-size: 14px;
}

.button-container {
  position: absolute;
  top: 10px;
  left: 10px;
}

#game-screen {
  margin-top: 20px;
  color: #73D216; /* Cor dos textos */
  font-size: 12px; /* Tamanho base dos textos */
}

#game-screen p {
  margin: 4px 0; /* Diferença de 4px entre os textos */
  font-size: 12px; /* Tamanho menor para os parágrafos */
}

#challenge-text {
  font-size: 16px; /* Tamanho maior para o texto do desafio */
}

input {
  padding: 10px;
  margin-top: 10px;
  width: 80%;
  background-color: transparent; /* Fundo transparente */
  border: none; /* Remove a borda */
  color: #73D216; /* Cor do texto do input */
  outline: none; /* Remove o contorno ao focar */
  font-family: "Press Start 2P", serif; /* Aplica a mesma fonte do body */
  font-size: 12px; /* Ajusta o tamanho da fonte, se necessário */
}

input:focus::placeholder {
  color: transparent; /* Cor do placeholder */
  font-family: "Press Start 2P", serif; /* Aplica a mesma fonte ao placeholder */
}

button {
  padding: 8px 20px;
  background-color: #C0C0C0;
  color: black;
  border: 1px solid black;
  cursor: pointer;
  font-size: 12px; /* Tamanho menor para o botão */
}

button:hover {
  background-color: #afadad;
}

#result {
  margin-top: 20px;
  font-weight: bold;
  font-size: 12px; /* Tamanho maior para o resultado */
}

#timer {
  margin-top: 10px;
  color: #73D216;
  font-size: 12px; /* Tamanho menor para o timer */
}

#end-screen {
  display: none;
  color: #73D216; /* Cor dos textos na tela de fim de jogo */
}

#end-screen h2 {
  font-size: 12px; /* Tamanho maior para o título */
}

#end-screen p {
  font-size: 12px; /* Tamanho menor para o texto */
}

#end-screen button {
  position: absolute;
  top: 10px;
  left: 10px;
}